<footer id="footer" role="contentinfo" class="">
    <div class="wrapper wrapper-transparent">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6 text-center" style="width:100%;">
                    <div id="text-2" class="sidebar-widget  widget_text">
                        <h3 class="sidebar-header">000 «Автоматизированные Водные Системы»</h3>			
                        <div class="textwidget">
                            <p style="text-align: center;">
                                © 2017
                            </p>
                        </div>
                    </div>
                </div>
                @*<div class="span6 text-right"><div id="smartbox_social-2" class="sidebar-widget  widget_smartbox_social"><ul class="unstyled inline small-screen-center big social-icons"><li><a target="_blank" data-iconcolor="#3b5998" href="http://www.facebook.com"><i class="icon-facebook"></i></a></li><li><a target="_blank" data-iconcolor="#00a0d1" href="http://www.twitter.com"><i class="icon-twitter"></i></a></li><li><a target="_blank" data-iconcolor="#5FB0D5" href="http://www.linkedin.com"><i class="icon-linkedin"></i></a></li></ul></div></div>*@
            </div>
        </div>
    </div>
</footer>

<div id="fb-root"></div>

