<header id="masthead">
    <nav class="navbar navbar-static-top ">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="brand" style="padding:10px 0 0 0;">
                    @*SMART<span class="light">BOX</span>*@
                    <style>
                        @@media screen and (max-width: 1024px) {
                            #additional_logo {
                                display: none !important;
                            }
                        }

                        .custom_menu {
                            font-size: 16px;
                            color: white;
                            font-weight: bolder;
                            margin-left: 10px;
                        }

                        .custom_menu a {
                            font-weight: bolder !important;
                            margin-left: -20px;
                        }

                        @@media screen and (max-width: 979px) {
                            .custom_menu {
                                font-size: 18px;
                                color: #5e5e5e;
                            }

                            .custom_menu a {
                                font-weight: bold !important;
                                margin-left: -15px;
                            }
                        }

                    </style>
                    <a href="">
                        <img style="width: 130px; margin-right: 20px; float: left;" src="/Content/img/logo.png">
                        <div style="line-height: 18px; font-size: 20px; display: inline;" id="additional_logo"><span class="light">АВТОМАТИЗИРОВАННЫЕ</span><br><span style="letter-spacing: 2.3px;">ВОДНЫЕ СИСТЕМЫ</span></div>
                    </a>
                </div>
                <nav class="nav-collapse collapse" role="navigation">
                    <div class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="nav pull-right ">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-231"><a href="/">О нас</a></li>
                            <li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-236">
                                <a class="dropdown-toggle " data-toggle="dropdown" data-target="#" href="#">Оборудование</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-594 custom_menu">Мойка и розлив</li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-594"><a href="/items/rozliv_М-125">Линия розлива М-125</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-595"><a href="/items/rozliv_М-320">Линия розлива М-320</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-596"><a href="/items/rozliv_М-600">Линия розлива М-600</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-596"><a href="/items/rozliv_М-03-6">Линия розлива М-03-6</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-596"><a href="/items/rozliv_AWS-HP">Мойки серии AWS-HP</a></li>

                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-594 custom_menu"><a href="/items/vodopodgotovka/">Водоподготовка</a></li>

                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-594 custom_menu">Транспортировка</li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-594"><a href="/items/transport_rg">Рольганг гравитационный</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-595"><a href="/items/transport_rp">Рольганг приводной</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-596"><a href="/items/transporter">Транспортер</a></li>

                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-594 custom_menu">Упаковка</li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-594"><a href="/items/upakovka_t-1">Термотоннель для колпачков</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-595"><a href="/items/upakovka_ttg">Термотоннель для групповой<br/> упаковки</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-596"><a href="/items/upakovka_au19">Автоупаковщик бутылей</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-596"><a href="/items/upakovka_ap19">Автопаллетировщик бутылей</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-oxy_portfolio_image menu-item-596"><a href="/items/upakovka_vm19">Вакуумный манипулятор для<br/> бутылей</a></li>
                                        
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-231"><a href="/items/service">Услуги</a></li>
                            @*<li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-236">
                                <a class="dropdown-toggle " data-toggle="dropdown" data-target="#" href="#">Услуги</a>
                                <ul class="dropdown-menu">
                                    <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="/items/service_project/">Проектирование</a></li>
                                    <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="/items/service_montage">Монтаж оборудования</a></li>
                                    <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="/items/service_repair/">Ремонт линий розлива</a></li>
                                </ul>
                            </li>*@
                            <li id="menu-item-231" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-231"><a href="/contact/">Контакты</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </nav>
</header>