<body class="home page-template page-template-template-full-nopad page-template-template-full-nopad-php page page-id-10 ">
    <div class="wrapper">
        <!-- Page Header -->
        @Html.Partial("Header")
        <div id="content" role="main">
            <div id="content" role="main">
                <section class="section section-alt">
                    <div id="map">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7b7c5d1ddf659d83a43fb8b2663293c6716120e917d136f6b16e156fd6c7518c&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                </section>
                <article id="post-227" class="post-227 page type-page status-publish hentry">
                    <section class="section section-padded ">
                        <div class="container-fluid">
                            <div class="section-header">
                                <h1>Мы рады <span class="light">знакомству</span></h1>
                            </div>
                        </div>
                        </section>
                    <section class="section section-padded ">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                @*<div class="span6">
                                    <div role="form" class="wpcf7" id="wpcf7-f237-p227-o1" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="/smartbox/contact/#wpcf7-f237-p227-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div class="row-fluid">
                                                <div class="contact-form span12" id="contactForm" novalidate="">
                                                    <div class="controls controls-row">
                                                        <div class="control-group span6">
                                                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text span12" aria-invalid="false" placeholder="your name" /></span>
                                                        </div>
                                                        <div class="control-group span6">
                                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email span12" aria-required="true" aria-invalid="false" placeholder="your email" /></span>
                                                        </div>
                                                        </p>
                                                    </div>
                                                    <div class="controls controls-row">
                                                        <div class="control-group span12">
                                                            <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text span12" aria-invalid="false" placeholder="subject" /></span>
                                                        </div>
                                                        </p>
                                                    </div>
                                                    <div class="controls controls-row">
                                                        <div class="control-group span12">
                                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="5" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required span12" aria-required="true" aria-invalid="false" placeholder="I want to talk about....."></textarea></span>
                                                        </div>
                                                        </p>
                                                    </div>
                                                    <div class="controls controls-row">
                                                        <div class="control-group span12">
                                                            <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn-primary" />
                                                        </div>
                                                        </p>
                                                    </div>
                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>*@
                                <div class="span6" style="width:20%;">
                                    <div class="contact-details" style="background:none;">
                                        <ul class="icons">
                                            <li>
                                                <h4><i class="icon-map-marker"></i>Почтовый адрес</h4>
                                                <p>
                                                    Санкт-Петербург,<br />
                                                    ул. Новоселов, д. 49
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="span6" style="width:20%;">
                                    <div class="contact-details" style="background:none;">
                                        <ul class="icons">
                                            <li>
                                                <h4><i class="icon-map-marker"></i>Юридический адрес</h4>
                                                <p>
                                                    Санкт-Петербург,<br />
                                                    ул. Ильюшина, д. 2, 83
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="contact-details" style="height:150px;">
                                        <ul class="icons">
                                            <li>
                                                <h4><i class="icon-phone"></i>Контактные данные</h4>
                                                <p>
                                                    Телефон: +7-911-243-93-91<br />
                                                    Email: <a href="mailto:info@aw-s.ru">info@aw-s.ru</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    @Html.Partial("Footer_Slim")
</body>