@{
    MvcApplication17.Models.DataModel Dm = Model as MvcApplication17.Models.DataModel;
}

<body class="home page-template page-template-template-full-nopad page-template-template-full-nopad-php page page-id-10 ">
    <div class="wrapper">
        <!-- Page Header -->
        @Html.Partial("Header")
        <div id="content" role="main">
            @Html.Raw(Dm.GetItem("7").Content)
            @*<article id="post-294" class="post-294 page type-page status-publish hentry">
                <section class="section section-padded ">
                    <div class="container-fluid">
                        <div class="section-header"><h1>AWS-HP</h1></div>
                        <div class="row-fluid">
                            <p>
                                Автоматизированные мойки серии AWS-HP предназначены для обработки поликарбонатных и ПЭТ-бутылей емкостью от 10 до 19 л.
                            </p>
                            <p style="text-align:center;">
                                <img style="margin-top:20px;" src="/Content/img/AWS-HP.jpg" />
                            </p>
                            <p>
                                При изготовлении моек применяется только высококачественная сталь марки AISI 304.
                            </p>
                            <p>
                                Контроль над параметрами процессов при работе оборудования осуществляется с применением электроники и механики от надежных производителей (Германия, Италия, Япония).
                            </p>
                        </div>

                        <div class="row-fluid">
                            <h5>Описание основных процессов:</h5>
                            <p>
                                <ol>
                                    <li>Автоматическая загрузка бутыли в моечную камеру.
                                    <li>Мойка внутренней и наружной поверхностей бутыли путем подачи воды под высоким давлением.
                                    <li>Обработка внутренней поверхности бутыли дезинфицирующим раствором после завершения мойки (только модели AWS-HP-200, AWS-HP-125) .
                                    <li>Ополаскивание внутренней поверхности бутыли чистой продуктовой водой после завершения стадии дезинфекции (только модель AWS-HP-125) .
                                    <li>Автоматическая выгрузка бутыли на стол или непосредственно на линию для последующей обработки и/или розлива.

                                </ol>
                            </p>
                        </div>
                    </div>
                    <div class="container-fluid" style="margin-top:20px;">
                        <div class="row-fluid">
                            <div class="section-header">
                                <h4>Преимущества моечных машин серии AWS – HP</h4></div>
                                <p>
                                    <strong>Эффективное удаление загрязнений с наружной и внутренней поверхности тары.</strong>
                                    При применении высокого давления вода проникает в микротрещины на поверхности тары, удаляя из них грязь. Применяемые многими производителями воды мойки (как ручные, так и машинные щеточные) не могут обеспечить полное удаление частиц грязи из всех микротрещин, образующихся на поверхности бутылей. Это влечёт за собой возможность задержки в таких микротрещинах микроорганизмов, которые не всегда можно удалить в процессе дезинфекции (особенно - если этот процесс кратковременный) и финального ополаскивания бутыли.
                                </p>
                                <p>
                                    <strong>Отсутствие механического воздействия  на   поверхность бутыли.</strong>
                                    Практически исключена вероятность нанесения царапин или других повреждений.
                                </p>
                                <p>
                                    <strong>Экономия воды.</strong>
                                    Специальные моющие форсунки позволяют в      несколько раз снизить расход воды, по сравнению с мойкой бутыли обычным давлением.
                                </p>
                                <p>
                                    <strong>Отсутствие необходимости в подогреве воды и использовании моющего раствора.</strong>
                                    Как показывает опыт, мойка высоким давлением позволяет очищать подавляющее большинство бутылей холодной водой, без применения специальных щелочных растворов. Тем не менее, при использовании в обороте особо загрязняемых бутылей (стройка и т.п.), допускается применение подогретой воды (до +60 °С).
                                </p>
                                <p>
                                    <strong>Возможность регулировки длительности мойки.</strong>
                                    В зависимости от степени загрязненности тары можно устанавливать различное время мойки бутыли, при этом повышая либо качество мойки, либо ее производительность
                                </p>
                                <p>
                                    <strong>Совместимость  и компактность.</strong>
                                    Предусмотрена возможность автоматической выгрузки бутылей непосредственно из мойки AWS – HP на линии других производителей, в частности – на триблоки розлива типа QGF.<br />
                                    Блок мойки занимает площадь около 1 м2, что позволяет установить его практически к любой   действующей линии розлива без существенной потери площади производственных помещений.
                                </p>
                            </div>

                    </div>
                </section>
                <section class="section section-padded section-alt ">
                    <div class="container-fluid">
                        <div class="section-header"><h1>Технические характеристики</h1></div><div class="row-fluid">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Параметр</th>
                                        <th>Ед.изм.</th>
                                        <th>
                                            AWS-HP-300<br/>
                                        </th>
                                        <th>
                                            AWS-HP-200<br />
                                        </th>
                                        <th>
                                            AWS-HP-125<br />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Функции</td>
                                        <td></td>
                                        <td>мойка бутылей</td>
                                        <td>мойка <br/> дезинфекция бутылей</td>
                                        <td>мойка <br /> дезинфекция <br /> ополаскивание бутылей</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Производительность</td>
                                        <td>бут./час</td>
                                        <td>300</td>
                                        <td>200</td>
                                        <td>125</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Напряжение электропитания</td>
                                        <td>вольт</td>
                                        <td>380 (min 370, max 400)</td>
                                        <td>380 (min 370, max 400)</td>
                                        <td>380 (min 370, max 400)</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Суммарная установочная мощность</td>
                                        <td>кВт</td>
                                        <td>7</td>
                                        <td>7,4</td>
                                        <td>7,4</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Средняя потребляемая мощность</td>
                                        <td>кВт/ч</td>
                                        <td>3,7</td>
                                        <td>2,7</td>
                                        <td>2,5</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Давление подаваемого сжатого воздуха</td>
                                        <td>бар</td>
                                        <td>8-10</td>
                                        <td>8-10</td>
                                        <td>8-10</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Потребление сжатого воздуха</td>
                                        <td>л/мин</td>
                                        <td>от 200</td>
                                        <td>от 200</td>
                                        <td>от 200</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Рабочий диапазон температуры в помещении</td>
                                        <td>°С</td>
                                        <td>+15…+50</td>
                                        <td>+15…+50</td>
                                        <td>+15…+50</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>
                                            Габаритные размеры:<br />
                                            длина;<br />
                                            ширина;<br />
                                            высота.

                                        </td>
                                        <td><br />мм</td>

                                        <td>
                                            <br />
                                            1150<br />
                                            1124<br />
                                            1900
                                        </td>
                                        <td>
                                            <br />
                                            1150<br />
                                            1124<br />
                                            1900
                                        </td>
                                        <td>
                                            <br />
                                            1150<br />
                                            1124<br />
                                            1900
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Расход воды в мойке высокого давления	</td>
                                        <td>л/ 1 бут.</td>
                                        <td>2±0,5</td>
                                        <td>2±0,5</td>
                                        <td>2±0,5</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Давление воды в мойке высокого давления	</td>
                                        <td>бар	</td>
                                        <td>до 150</td>
                                        <td>до 150</td>
                                        <td>до 150</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>
                                            Емкость лотка автозагрузки бутылей*
                                        </td>
                                        <td>бут.</td>
                                        <td>6</td>
                                        <td>6</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>
                                            Гарантийный срок 
                                        </td>
                                        <td>лет</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                *есть возможность изменения параметров по заданию заказчика
                            </p>
                        </div>
                    </div>
                </section>

            </article>*@
        </div>
    </div>
    @Html.Partial("Footer")
</body>
