@{
    MvcApplication17.Models.DataModel Dm = Model as MvcApplication17.Models.DataModel;
}

<body class="home page-template page-template-template-full-nopad page-template-template-full-nopad-php page page-id-10 ">
    <div class="wrapper">
        <!-- Page Header -->
        @Html.Partial("Header")
        <div id="content" role="main">
            @Html.Raw(Dm.GetItem("23").Content)
            @*<article id="post-294" class="post-294 page type-page status-publish hentry">
                <section class="section section-padded ">
                    <div class="container-fluid">
                        <div class="section-header"><h1>Автопаллетировщик бутылей 19 л</h1></div><div class="row-fluid">
                            <p style="text-align:center;">
                                Оборудование находится в стадии разработки.
                            </p>
                            <p style="margin-top:20px;">
                                <img src="/Content/img/under_design.jpg" />
                            </p>
                        </div>
                    </div>
                </section>

            </article>*@
        </div>
    </div>
    @Html.Partial("Footer")
</body>
